@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Shadows+Into+Light&family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk&family=Madimi+One&family=Shadows+Into+Light&family=Titan+One&display=swap'); 

body {
    background-color: rgb(255, 255, 255);

}

header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    background-color: #249750;
    justify-content: right;
    position: sticky;
}

a {
    text-decoration: none;
}

.menu{
    max-width: 1800px;
    min-width: 200px;
}

.menu ul li{
    color: aliceblue;
    font-family: inherit;
    font-size: 20px;
    margin: 40px;
    font-family: Montserrat;
}

.contenedor {
    width: 100%;
    height: 100%;
}
h1{
    font-family: Titan One;
    color: #249750;
    font-size: 50px;
    font-stretch: expanded;
    margin-left: 90px;

}
p{
    font-family: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    font-size: 20px;
    margin-left: 90px;
}
.img1{
    margin-left: 90px;
}
.img2{
    margin-left: 90px;
}
.img3{
    margin-left: 90px;
}
.img4{
    margin-left: 90px;
}
h2{
    font-family: Shadows Into Light;
    color: #249750;
    margin-left: 230px;
    margin-right: 90px;
    font-size: 50px;
    background-color: #F0F0F0;

}
.derechos{
    background-color: #F0F0F0;

}
.accordion-button{ 
    font-family: inherit;
    color:rgba(0, 0, 0, 0.918);
    background-color: #F0F0F0;
    padding-bottom: 10px;
    border-bottom: none;
}
.accordion h3{
    font-family: inherit;
    
}

.dp{
 margin-left: 0px;
}
footer{
    background-color:blueviolet;
}
h3{
    font-family: inherit;
    font-size: 20px;
}


.pata{
    color:  rgb(255, 255, 255);
    font-family: Shadows Into Light;
    font-size: 50px;
}
.imgd{
    margin-left:  200px;
    margin-top: 200px;
}
.leyes{
display: flex;
justify-content: center;
}

.card-text{
color: #F0F0F0;
font-size: 20px;
}
.col-md-8{
    background-color:rgb(59, 14, 100);
}
.card-title{
    color: #F0F0F0;
    font-size: 25px;
 
}
.col-md-4{
    background-color: black;
}

.hpa{
    color: #270261;
}
a{
    text-decoration: none;
    color: #F0F0F0;
    text-shadow: #270261;
}
.redes{
    margin-left: 90px;
}
.accordion-body{
    background-color: rgb(255, 255, 255);
}